<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Confirm</title>
    </head>
    <body>
        <form action="{% url 'story_7:index' %}" method="POST">
            {% csrf_token %}
            {{confirm_form}}
            <p>Are you sure you want to post this status</p>
            <input type="Submit" value="YES" id="yes">
            <input type="submit" value="NO" id="no" formaction="{% url 'story_7:index' %}">
        </form>
    </body>
</html>