<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Home</title>
    </head>
    <body>
        <form method="POST" action="{% url 'story_7:confirmation' %}">
            {% csrf_token %}
            {{status_form}}
            <input type="Submit" value="post status" id="submit">
        </form>

        <div>
            <ul>
                {% for status in statuses %}
                <li>
                    <h3>
                        {{ status.name }}
                    </h3>
                    <p>
                        {{ status.message }}
                    </p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>